@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

.circle {
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 50%;
  margin-top: 2%;
}

.circleRed {
  background-color: red;
}

.circleYellow {
  background-color: yellow;
}